<h1>Carrito {{cartId}}</h1>

{{#each products}}
  <div>
    <h2>{{nombre}}</h2>
    <p>Precio: {{precio}}</p>
    <p>Categoría: {{categoria}}</p>
    <p>Cantidad: {{cantidad}}</p>
  </div>
{{/each}}
